<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html" xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1">
      <af:messages id="m1"/>
      <af:form id="f1">
        <af:panelAccordion id="pa1">
          <af:showDetailItem text="showDetailItem 1" id="sdi1"/>
          <af:showDetailItem text="showDetailItem 2" id="sdi2">
            <af:table value="#{bindings.MyObject.collectionModel}" var="row" rows="#{bindings.MyObject.rangeSize}"
                      emptyText="#{bindings.MyObject.viewable ? 'No data to display.' : 'Access Denied.'}"
                      fetchSize="#{bindings.MyObject.rangeSize}" rowBandingInterval="0"
                      selectedRowKeys="#{bindings.MyObject.collectionModel.selectedRow}"
                      selectionListener="#{bindings.MyObject.collectionModel.makeCurrent}" rowSelection="single"
                      id="t1" width="100%" columnStretching="last">
              <af:column sortProperty="value1" sortable="false" headerText="#{bindings.MyObject.hints.value1.label}"
                         id="c1">
                <af:inputText value="#{row.bindings.value1.inputValue}" label="#{bindings.MyObject.hints.value1.label}"
                              required="#{bindings.MyObject.hints.value1.mandatory}"
                              columns="#{bindings.MyObject.hints.value1.displayWidth}"
                              maximumLength="#{bindings.MyObject.hints.value1.precision}"
                              shortDesc="#{bindings.MyObject.hints.value1.tooltip}" id="it2">
                  <f:validator binding="#{row.bindings.value1.validator}"/>
                </af:inputText>
              </af:column>
              <af:column sortProperty="value2" sortable="false" headerText="#{bindings.MyObject.hints.value2.label}"
                         id="c2">
                <af:inputText value="#{row.bindings.value2.inputValue}" label="#{bindings.MyObject.hints.value2.label}"
                              required="#{bindings.MyObject.hints.value2.mandatory}"
                              columns="#{bindings.MyObject.hints.value2.displayWidth}"
                              maximumLength="#{bindings.MyObject.hints.value2.precision}"
                              shortDesc="#{bindings.MyObject.hints.value2.tooltip}" id="it1">
                  <f:validator binding="#{row.bindings.value2.validator}"/>
                </af:inputText>
              </af:column>
            </af:table>
          </af:showDetailItem>
          <af:showDetailItem text="showDetailItem 3" id="sdi3">
            <af:region value="#{bindings.innerflow1.regionModel}" id="r1"/>
          </af:showDetailItem>
        </af:panelAccordion>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
